@font-face {
    font-family: "Arial-Black";
    src: url(/src/fonts/Arial_Black.ttf) format("truetype");
}

@font-face {
    font-family: "Arial-Medium";
    src: url(/src/fonts/Arial-Medium.ttf) format("truetype");
}

$fontMenu: "Arial-Medium", Arial, sans-serif;