$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base:16px;
$font-size-lg: 118px;
$font-size-xl: 120px;
$font-size-2xl: 24px;
$font-size-3xl: 30px;
$font-size-4xl: 36px;
$font-size-5xl: 48px;
$font-size-6xl: 60px;
$font-size-7xl: 72px;
$font-size-8xl: 96px;
$font-size-9xl: 128px;