@use "variaveis";
@use "fonts";

footer {
    background-color: variaveis.$background;
    color: variaveis.$primary;
    padding: 20px;
    text-align: center;
    font-family: fonts.$fontMenu;
}   
